{% extends "bbase.html" %}
{% block content %}
<table width="1550" border="0">
<tr>

  <style type="text/css">
    .main { margin-left: 15px; margin-top: 30px; padding-right: 90px; padding-left: 1px; }
    .time { font-size: 0.8em; margin-top: 2px; }
    .body { font-size: 0.95em; margin-top: 2px;}
    .commentlink { text-align: margin-right: 20px; }
    .step-links a { font-size: 0.89em; }
    .title {
      font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc;
      padding-left: 4px; margin-left: 50px; 
    }
    .messages { margin-left: 20px; }
    .pagination { margin-top: 20px; margin-left: -20px; }
  </style>
  <div class="main">
    <!-- Posts -->
      {% for post in post_list %}
        <div class="title">{{ post.title }}</div>
        <ul>
          <div class="time">{{ post.created }}</div>
          <div class="body">{{ post.body|linebreaks }}</div>
          <div class="commentlink">
          <a href="{% url art.views.post post.pk %}">Comments ({{ post.comment_set.count }})</a>
          </div>
        </ul>
      {% endfor %}
    <!-- Next/Prev page links -->
    {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
    <div class="pagination">
      <span class="step-links">
        {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
        {% endif %}
        <span class="current">
          &nbsp;Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>
        {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
  </div>
{% endblock %}
    


